@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import "components/menu.scss";
@import "components/slides.scss";

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  color: white;
}
