body {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.4);
    background: #fff !important;
}

.navbar {
    padding-top: 0.5rem; padding-bottom: 0.5rem;
    line-height: 0.5em;
}

.nav-link {
    color: #fff;
    margin-right: 1em !important;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-start;
}

.header {
    background-image: url('IMG_2789.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h2 {
    color: #f7c1f2;
    background: rgba(0, 0, 0, 0.4); /* Transparent */
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}

.description p {
    color: #fff;
    background: rgba(0, 0, 0, 0.4); /* Transparent */
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 0px;
    padding: 10px;
    width: 100%;
}

.description button {
    background-color: #f7c1f2;
    outline: #f7c1f2;
    color: #000;
}

#button {
    padding-bottom: 15px;
    padding-top: 5px;
}

.container {
    background-color: #dedcde;
    margin-top: 20px;
}

.media-object {
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container h4 {
    padding-top: 15px;
}

.container p {
    font-size: 14px;
}
#author {
    font-size: 13px;
}

#date {
    font-size: 13px;
}

#about {
    margin-top: 80px;
    background-size: 100px;
    max-width: 600px;
    background-color: #fff;
    text-align: justify;
    margin-right:160px;
}

#about-title {
    text-align: center;
    margin-bottom: 20px;
}

#portrait {
    float: left;
    margin-top: 60px;
    margin-left: 160px;
    margin-right: 20px;
}

#icon1 {
    padding-left: 170px;
    font-size: 60px;
    text-align: center;
    padding-right: 20px;
    color: #202529 !important;
}

#icon2 {
    font-size: 60px;
    text-align: center;
    padding-right: 20px;
}

#icon3 {
    font-size: 60px;
    text-align: center;
    padding-right: 20px;
}

a {
     color: #202529;
}