.s1 {
  background: url('../images/one.jpg');
  background-size: cover;
}

.s2 {
  background: url('../images/two.jpg');
  background-size: cover;
}

.s3 {
  background: url('../images/three.jpg');
  background-size: cover;
}

/*Slides Navigation*/
span {
  background: white !important;
}

.fp-slidesNav.fp-bottom {
  text-align: center;
}
